#regis {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 30%;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    background-color: aqua;
    margin-bottom: 20px;
    
}

#regis input{
    width: 80%;
}

#submit:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

a{
    text-align: center;
    margin-left: 50%;
    
}




